<form id="createPost">
    <div>
        <label for="create_title">Title</label>
        <input type="text" id="create_title">
    </div>
    <div>
        <label for="create_content">Content</label>
        <input type="textarea" id="create_content">
    </div>
    <button>
        Create
    </button>
</form>
<script src="/js/createpost.js"></script>