<form id="createForm">
    <div>
        <label for="create_name">Name</label>
        <input type="text" id="create_name">
    </div>
    <div>
        <label for="create_username">Username</label>
        <input type="text" id="create_username">
    </div>
    <div>
        <label for="create_email">Email</label>
        <input type="email" id="create_email">
    </div>
    <div>
        <label for="create_password">Password</label>
        <input type="password" id="create_password">
    </div>
    <button>
        Create
    </button>
</form>
<script src="/js/signup.js"></script>