<div class="card">
  <h3 class="card-header" style="padding-bottom: 1.5%;">Update Post</h3>

<form id="updatePost" class="card-body" style="font-size:x-large;">
    <div>
        <label for="update_title">Title</label>
        <input style="width: 100%;font-size:large;" type="text" id="update_title" value="{{blogpost.title}}">
    </div>
    <div>
        <label for="update_content">Content</label>
        <textarea style="width: 100%;font-size:large;" rows="5" id="update_content" >{{blogpost.content}}</textarea>
    </div>
    <button class="btn">
        Update
    </button>
    <button class="btn" id="deletePost" type="button">
        Delete
    </button>
</form>
</div>
<script> let id = {{blogpost.id}}</script>
<script src="/js/updatepost.js"></script>