<form id="updatePost">
    <div>
        <label for="update_title">Title</label>
        <input type="text" id="update_title">
    </div>
    <div>
        <label for="update_content">Content</label>
        <input type="textarea" id="update_content">
    </div>
    <button>
        Update
    </button>
    <button type="button">
        Delete
    </button>
</form>
<script src="/js/updatepost.js"></script>